discord.py>=2.6.0
aiohttp>=3.8.5
openai==0.28
yt-dlp>=2023.14.6          # YouTube downloader for audio links
PyNaCl>=1.5.0              # Required for Discord voice support
requests>=2.31.0           # Optional, if you want to fetch thumbnails or extra info
wavelink>=3.0
python-dotenv
java>=17